@charset "UTF-8" ;
/* Reset */
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Main Style*/
body , html{
    font-family: 'Baloo Tamma 2', cursive;
    line-height: 1.7rem;
}
a{
    text-decoration: none;
    color: white;
}
ul{
    list-style: none;
}
/*Utitlity Classes*/
.container{
    width: 80%;
    margin: 0 auto;
    padding: 0 20px;
}
.clear{
    clear: both;
}
.text-center{
    text-align: center;
}
.bg-dark{
    background-color: #2f2f2f;
}
.text-primary{
    color: #fed136;
}
.bg-primary{
    background-color: #fed136;
}
.text-white{
    color: white;
}
/* Navbar Style */
.nav-bar{
    padding: 16px 0;
}
.nav-bar .nav-items{
    display: flex;
    justify-content: space-between;
}
.nav-bar .nav-items .logo a{
    font-size: 2rem;
    color: #fed136 ;
    font-weight: bold;
}
.nav-bar .nav-items .links ul li{
    display: inline-block;
    padding: 0 8px;
}
.nav-bar .nav-items .links a:hover{
    color: red;
}
/*ShowCase Style*/
.showcase{
    height: 695px;
    background: url(../images/background.jpg) 
    no-repeat center/cover;
}
.showcase .showcase-text{
    padding-top: 140px;
}
.showcase .subheading{
    font-size: 1.8rem;
    word-spacing: 8px;
    font-style: italic;
    padding: 30px 0;
    text-shadow: 1px 1px 1px white;
    font-weight: 600;
}
.showcase .showcase-text hr,
.services hr , .about hr,
.portofolio hr,
.contact hr{
    width: 5%;
    margin: 10px auto;
    border: 3px solid #fed136;
}
.showcase .showcase-text .mashed-heading{
    font-size: 5rem;
    word-spacing: 12px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 35px 0;
    text-shadow: 1px 1px 1px white;
}
.showcase .container button{
    margin-top: 20px;
    padding: 12px;
    font-size: 1.6rem;
    border: none;
    border-radius: 5px;
}
.showcase .container button:hover{
    background-color: #2f2f2f;
    color: #fed136;
}
/* Services Style */
.services , .portofolio , .contact{
    margin-top: 100px;
}
.services h2,
.about h2,
.portofolio h2,
.contact h2{
    font-size: 3rem;
}
.services hr,
.about hr,
.portofolio hr,
.contact hr{
    margin: 20px auto;
}
.services .row,
.portofolio .row{
    display: flex;
    margin-top: 50px;
}
.services .row .col{
    padding: 20px;
}
.services .row .col .icon i{
    padding: 50px;
    border-radius: 50%;
}
.services .row .col h3{
    margin: 25px 0;
    font-size: 2rem;
}
/* About Style */
.about{
    padding: 85px;
    margin-top: 25px;
}
.about button{
    margin-top: 20px;
    padding: 16px;
    background-color: #fed136;
    color: #2f2f2f;
    border: none;
    font-size: 25px;
    border-radius: 45px;
}
.about button:hover{
    color: #fed136;
    background-color: white;
}
/* Portofolio Style */
.portofolio .row{
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.portofolio p{
    margin: 20px 0 45px 0;
}
.portofolio .row .col{
    margin: -6px 0;
}
.portofolio .row .col img:hover{
    opacity: 0.8;
}
/* Contact Style */
.contact p{
    margin-bottom: 40px;
}
.contact .row{
    display: flex;
    justify-content: space-around;
    margin-left: 150px;
    margin-right: 150px;
}
.contact .row .col a{
    color: black;
}
.contact .row .col .email:hover{
    color: #fed136;
    text-shadow: 0.5px 0.5px 1px #fed136;
}
/* footer style */
footer{
    margin-top: 20px;
    padding: 20px;
}