@charset "UTF-8" ;
/* Reset */
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Main Style*/
body , html{
    font-family: 'roboto' , sans-serif;
    line-height: 1.7rem;
}
a{
    text-decoration: none;
    color: white;
}
ul{
    list-style: none;
}
/*Utitlity Classes*/
.container{
    width: 80%;
    margin: 0 auto;
    padding: 0 20px;
}
.clear{
    clear: both;
}
.text-center{
    text-align: center;
}
.bg-dark{
    background-color: #2f2f2f;
}
.text-primary{
    color: #fed136;
}
.text-white{
    color: white;
}
/* Navbar Style */
.nav-bar{
    padding: 16px 0;
    background-color:  rgb(4, 87, 87);
}
.nav-bar .nav-items{
    display: flex;
    justify-content: space-between;
}
.nav-bar .nav-items .logo a{
    font-size: 2.2rem;
    color: white ;
    font-family: 'Baloo Tamma 2', cursive;
}
.nav-bar .nav-items .links{
    color: rgb(4, 87, 87);
}
.nav-bar .nav-items .links ul li{
    display: inline-block;
    padding: 0 8px;
}
.nav-bar .nav-items .links a:hover{
    color: red;
}
/*ShowCase Style*/
.showcase{
    height: 695px;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.showcase .showcase-text{
    padding-top: 200px;
    font-family: 'Baloo Tamma 2', cursive;
}
.showcase .subheading{
    font-size: 2.5rem;
    word-spacing: 8px;
    padding: 30px 0;
    text-shadow: 1.5px 1.5px 3px black;
    font-weight: 600;
}
.showcase .subheading p{
    display: inline;
    color: red;
}
.showcase .showcase-text .mashed-heading{
    font-size: 1rem;
    font-weight: bold;
    text-transform: capitalize;
    text-shadow: 1.5px 1.5px 3px black;
}
.showcase .container button{
    color: white;
    background-color: black;
    margin: 50px;
    margin-top: 20;
    padding: 10px;
    font-size: 17px;
    border: none;
    border-radius: 45px;
}
/* About Styles */
.about{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
.about .laoreet{
    font-weight: bold;
}
/* Work */
.work{
    padding-top: 55px;
}
.work .images{
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
}